.App {
  padding-top: 3%;
}

.container {
  border: 1px solid white;
  position: relative;
  background-color: white;
  width: 25%;
}

.email {
  background-color: white;
  padding: 2%;
  position: left;
}

.title {
  text-align: center;
  background: white;
  padding-top: 5%;
}

.button {
  text-align: center;
  background: white;
  display: block;
  width: 100%;
}
.hell {
  width: 100%;
}

.login {
  position: relative;
  padding-left: 80%;
}

.move {
  position: relative;
  padding-right: 50%;
}
.na {
  color: white;
}

.taskslist {
  text-align: left;
  width: 75%;
  padding-left: 30%;
  padding-top: 1%;
}

.tasktitle {
  text-align: center;
  border-radius: 13px;
}

.bouton {
  position: absolute;
  right: 0;
  padding-right: 5%
}
.task{
  padding-bottom: 3%;
}
